/* Light green background for the entire app */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0; /* Reset margin */
  padding: 0;
  background-color: #d6ffb7; /* Light green background */
  font-family: 'Arial', sans-serif;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html,
:host {
  line-height: 1.5;
  font-family: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-feature-settings: normal;
  font-variation-settings: normal;
}

.button {
  padding: 0.625rem 1.25rem; /* 10px converted to rem */
  border: none;
  border-radius: 0; /* 4px converted to rem */
  font-size: 1rem; /* 16px converted to rem */
  cursor: pointer;
  color: whitesmoke;
  background-color: #f18805;
  transition: background-color 0.3s ease;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 24px;
  color: #333;
}

/* Apply consistent margin and padding to all inputs */
input,
select {
  display: block;
  width: 100%;
  max-width: 350px;
  padding: 12px;
  font-size: 16px;
  box-sizing: border-box;
}

input[type='text'],
input[type='number'],
textarea {
  width: 100%;
  padding: 0.625rem; /* 10px converted to rem */
  border: 0.0625rem solid #ddd; /* 1px converted to rem */
  border-radius: 0.25rem; /* 4px converted to rem */
  font-size: 1rem; /* 16px converted to rem */
  font-family: Arial, Helvetica, sans-serif;
}

.success-message {
  color: green;
  background-color: #e8f5e9;
  padding: 10px;
  border: 1px solid green;
  border-radius: 5px;
  margin-top: 15px;
}

.error-message {
  color: red;
  background-color: #fce4e4;
  padding: 10px;
  border: 1px solid red;
  border-radius: 5px;
  margin-top: 15px;
}

.placeholder-message {
  color: #f9f9f9;
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #f9f9f9;
  border-radius: 5px;
  margin-top: 15px;
}
