/* Light green background for the entire app */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0; /* Reset margin */
  padding: 0;
  background-color: #d6ffb7; /* Light green background */
  font-family: 'Arial', sans-serif;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html,
:host {
  line-height: 1.5;
  font-family: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-feature-settings: normal;
  font-variation-settings: normal;
}

.button {
  padding: 0.625rem 1.25rem; /* 10px converted to rem */
  border: none;
  border-radius: 0; /* 4px converted to rem */
  font-size: 1rem; /* 16px converted to rem */
  cursor: pointer;
  color: whitesmoke;
  background-color: #f18805;
  transition: background-color 0.3s ease;
}
