/* BookForm.css */

.form-container {
  width: 100%;
  max-width: 37.5rem; /* 600px converted to rem */
  margin: 0 auto;
  padding: 1.25rem; /* 20px converted to rem */
  border-radius: 0.5rem; /* 8px converted to rem */
}

.form-segment-left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-segment-right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-segment-right input {
  min-width: 16rem;
}

.form-segment-left input[type='file'] {
  width: 100%;
  padding: 0.625rem; /* 10px converted to rem */
  border: 0.0625rem solid #ddd; /* 1px converted to rem */
  border-radius: 0.25rem; /* 4px converted to rem */
  font-size: 1rem; /* 16px converted to rem */
}

textarea {
  resize: vertical;
  min-height: 10vh; /* Ensure the textarea is at least 20% of the viewport height */
  margin: 0;
}

input:focus,
textarea:focus {
  border-color: #007bff;
  outline: none;
}

.error-message {
  color: #d9534f;
  background-color: #f2dede;
  border: 0.0625rem solid #ebccd1; /* 1px converted to rem */
  border-radius: 0.25rem; /* 4px converted to rem */
  padding: 0.625rem; /* 10px converted to rem */
  margin-bottom: 1.25rem; /* 20px converted to rem */
}

.book-cover-preview {
  max-height: 300px;
  width: auto;
}

.form-main {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.form-segment-right input:first-child {
  margin-top: 0;
}

.form-segment-right input:last-child {
  margin-bottom: 0;
}

.form-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 1.25rem;
}
