.overdue {
  color: red;
  font-weight: bold;
}

.rental-form {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.rental-management {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 5rem;
}

.rental-management-left,
.rental-management-right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.rental-controls select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  margin: 5px 0 10px;
  font-size: 14px;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.reservation-list {
  margin-top: 10px;
  max-height: 200px;
  overflow-y: auto;
}

.transaction-header {
  font-size: 20px;
  margin-top: 30px;
}

.book-stock-info p {
  margin-top: 0;
}

.rental-inputs {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.rental-inputs-right {
  width: 4rem;
}

.rental-management-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.find-reservations-btn {
}

.reservation-item p {
  margin: 0;
}

.clear-btn-rental {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 0;
}

.rental-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
