.main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-self: center;
  place-content: center;
  place-items: center;
}

.frame {
  width: 24rem; /* 384px */
  color: rgb(75 85 99);
  margin-top: 1.25rem; /* 20px */
  padding: 1rem;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  border-width: 1px;
  border-radius: 0.75rem; /* 12px */
}

.title_container {
  text-align: center;
}

.title_div {
  margin-top: 0.5rem; /* 8px */
}

.title {
  color: rgb(31 41 55);
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
  font-weight: 600;
}

.login_form {
  margin-top: 1.25rem; /* 20px */
}

.login_form_label {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  color: rgb(75 85 99);
  font-weight: 700;
}

.login_form_input {
  width: 100%;
  margin-top: 0.5rem; /* 8px */
  padding-left: 0.75rem; /* 12px */
  padding-right: 0.75rem; /* 12px */
  padding-top: 0.5rem; /* 8px */
  padding-bottom: 0.5rem; /* 8px */
  color: rgb(107 114 128);
  background-color: transparent;
  outline: 2px solid transparent;
  outline-offset: 2px;
  border-width: 1px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  border-radius: 0.5rem; /* 8px */
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.login_form_input:focus {
  border-color: rgb(79 70 229);
}

.error_message {
  color: rgb(220 38 38);
  font-weight: 700;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  background-color: transparent;
  background-image: none;
  text-transform: none;
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  line-height: inherit;
  margin: 0;
  cursor: pointer;
}

.submit_btn {
  width: 100%;
  margin-top: 1.25rem;
  padding-left: 1rem; /* 16px */
  padding-right: 1rem; /* 16px */
  padding-top: 0.5rem; /* 8px */
  padding-bottom: 0.5rem; /* 8px */
  color: rgb(255 255 255);
  font-weight: 500;
  border-radius: 0.5rem; /* 8px */
}

.signing_in_true {
  background-color: rgb(209 213 219);
  cursor: not-allowed;
}

.signing_in_false {
  background-color: rgb(79 70 229);
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.signing_in_false:hover {
  background-color: rgb(67 56 202);
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.error_message {
  display: flex;
  font-weight: 500;
  place-content: center;
  margin-top: 0.5rem;
}

.register_paragraph {
  text-align: center;
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}

.register_link {
  font-weight: 700;
}

.register_link:hover {
  text-decoration-line: underline;
}

.or_container {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 100%;
}

.or_buffer_div {
  border-bottom-width: 2px;
  margin-bottom: 0.625rem; /* 10px */
  margin-right: 0.5rem; /* 8px */
  width: 100%;
}

.or {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  font-weight: 700;
  width: fit-content;
}

.google_signingIn_btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  column-gap: 0.75rem; /* 12px */
  margin-top: 1.25rem;
  padding-top: 0.625rem; /* 10px */
  padding-bottom: 0.625rem; /* 10px */
  border-width: 1px;
  border-radius: 0.5rem; /* 8px */
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  font-weight: 500;
}

.google_signingIn_true {
  cursor: not-allowed;
}

.google_signingIn_false {
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.google_signingIn_false:hover {
  background-color: rgb(243 244 246);
}

.google_signingIn_false:active {
  background-color: rgb(243 244 246);
}

.google_svg {
  width: 1.25rem; /* 20px */
  height: 1.25rem; /* 20px */
}

@media (min-width: 640px) {
  .title {
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
  }
}
